body {
    font-family: Arial, sans-serif; 
    font-size: 16px; 
    line-height: 1.5;
    text-align: center;
}

strong{
    color: rgb(21, 74, 22); 
}

footer{
    text-align: center;
    font-size: 14px;
}

img{
    max-width: 100%;
}

#logaloliriot{
    display: flex;
    gap: 20px;
    justify-content: center;
    text-align: center;
}

#g2, #fnatic, #bilibili, #geng, #t1, #firststand, #msi, #worlds{
   width: 30px; 
   vertical-align: middle;
   margin-right: 10px;
}

#lol, #riotgames{
    padding: 20px;
    border: solid 2px darkgray;
    border-radius: 15px
}

table{
    border-collapse: collapse;
    margin: auto;
}

tr:nth-child(even){
    background-color: rgb(238, 238, 238);
}

td, th{
    padding: 8px;
    border: solid 2px rgb(192, 192, 192);
}

ul, ol {
    text-align: left;
    display: inline-block;
  }
