body {
    font-family: Arial, sans-serif; 
    font-size: 16px; 
    line-height: 1.5;
    text-align: center;
}

main{
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 1000px;
    margin: auto;
}

strong{
    color: rgb(21, 74, 22); 
}

footer{
    text-align: center;
    font-size: 14px;
}

img{
    max-width: 100%;
}

#logaloliriot{
    display: flex;
    gap: 20px;
    justify-content: center;
    text-align: center;
}

#g2, #fnatic, #bilibili, #geng, #t1, #firststand, #msi, #worlds{
   width: 30px; 
   vertical-align: middle;
   margin-right: 10px;
}

#lol, #riotgames{
    padding: 20px;
    border: solid 2px darkgray;
    border-radius: 15px
}

table{
    border-collapse: collapse;
    margin: auto;
}

tr:nth-child(even){
    background-color: rgb(238, 238, 238);
}

td, th{
    padding: 8px;
    border: solid 2px rgb(192, 192, 192);
}

ul, ol{
    text-align: left;
    display: inline-block;
}

caption{
    padding: 20px;
}

#firstletter::first-line{
    font-size: 22px;
}

header{
  display: flex;
  align-items: center;
  padding: 10px;
}

.klasa, .klasa h1, .klasa h3{
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  margin: 0;
}

nav ul{
  display: flex;
  list-style: none;
  padding: 0;
}

nav li{
  margin-left: 30px;
}

nav a{
  text-decoration: none;
}
